# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# dotenv
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Next.js
/.next/
/out/
/build

# Dependencies
/node_modules
/.pnp
.pnp.js

# Local env
.env.local
.env.*.local
